<div class="row altband" id="statistics">
  <div class="col-md-3 col-sm-offset-1">
    <div class="card wow fadeInUp">
      <i class="fa fa-check stat-icon"></i>
      <div class="card-body">
        <div class="card-title stat-title">Number of Projects<br />5</div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-offset-1">
    <div class="card wow fadeInUp">
      <i class="fa fa-money stat-icon"></i>
      <div class="card-body">
        <div class="card-title stat-title">Money Raised<br />$3100</div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-offset-1">
    <div class="card wow fadeInUp">
      <i class="fa fa-money stat-icon"></i>
      <div class="card-body">
        <div class="card-title stat-title">Money Spent<br />$2800</div>
      </div>
    </div>
  </div>
</div>
