<div id="header_main" class="row altband fullpage" >
  <div class="col xxx-large-font rightaligned my-auto wow fadeInDown">
    <span id="header1">Simurgh</span><br/>
    <H6>Not for profit organisation</H6>
  </div>

  <div class="col my-auto leftaligned handwriting wow fadeInRight">
    <h3>
      Every cause,<br />
      is a local cause.
    </h3>
  </div>
</div>

<app-project-list></app-project-list>

<app-statistics></app-statistics>

<app-donation></app-donation>

<app-subscribe></app-subscribe>
