<div class="row wow bounceInLeft" style="margin:5px;">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h3>SPEEDY TAXATION SERVICES</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="images/partners/sts.png" alt="STS">
    <mat-card-content>
      <p>
        Providing taxation services to individuals, companies, partnerships, trusts and superannuation funds.
      </p>
      <a href="https://www.speedytax.net.au/">Web Site</a>
    </mat-card-content>
  </mat-card>

</div>
