<div class="col mt-5">
  <h2>List of families that we have identified and will do some projects for them:</h2>
</div>

<!--projects-->
<div id="project-list" class="row" style="margin-top:50px;">
  <div class="card wow fadeInUp col-md-3">
    <div class="img-hover-zoom">
      <img src="images/clients/1/lorikeet1.jpg" class="card-img-top" alt="Lorikeet family">
    </div>
    <div class="card-body">
      <div class="card-title"><a href="project1">Lorikeet Family</a></div>
      <p class="card-text">Building basic amenities for lorikeet family who are in need of basic amenities and live in remote places.</p>
    </div>
  </div>


  <div class="card wow fadeInDown col-md-3">
    <div class="img-hover-zoom">
      <img src="images/clients/2/kookaburra1.jpg" class="card-img-top" alt="Kookaburra family">
    </div>
    <div class="card-body">
      <h5 class="card-title"><a href="project2">Kookaburra Family</a></h5>
      <p class="card-text">Kookaburra family is in need of basic amenities as well...</p>
    </div>
  </div>

  <div class="card wow fadeInUp col-md-3">
    <div class="img-hover-zoom">
      <img src="images/clients/3/magpie1.jpg" class="card-img-top" alt="Magpie Family">
    </div>
    <div class="card-body">
      <h5 class="card-title"><a href="project3">Magpie Family</a></h5>
      <p class="card-text">This family needs some repairs to be done on their house.</p>
    </div>
  </div>

</div>
