<!--contact us-->
  <div id="contact-us" class="row altband">

    <div class="personnel-card wow flipInY" data-wow-delay="0.1s">
      <div class="avatar">
        <img src="images/personnel/zara01.png" height="150" width="150">
      </div>
      <h2>Zara Zamanikia</h2>
      <h4>President</h4>
      <a href="https://www.linkedin.com/in/zara-zamanikia-6b6b40b/">Linkedin Profile</a>
    </div>

    <div class="personnel-card wow flipInY" data-wow-delay="0.2s">
      <div class="avatar">
        <img src="images/personnel/Kegan2.jpg" height="150" width="150">
      </div>
      <h2>Kegan Kashian</h2>
      <h4>Board member</h4>
      <p>Commencing his career with the Commonwealth Bank, culminating as the CFO for its subsidiary Merchant Bank, AEFC Pty Ltd, Kegan decided to shift career to the Not-For-Profit (NFP) sector achieving CFO status at The Uniting Church in Australia, the 2nd largest community welfare organisation in Australia. He then branched out into his own practice (TCB Consulting) consulting to the Public and NFP sectors on all matters of Finance, Risk and Organisational Transformation. Kegan has served on many board and committees. Kegan is also active within CPA having successfully convened the NFP discussion group since 2003, as well as the annual Conferences and Congress. Kegan twice served on CPA’s Divisional Council.</p>
      <a href="https://www.linkedin.com/in/kegan-kashian-38091759/">Linkedin Profile</a>
    </div>

    <div class="personnel-card wow flipInY" data-wow-delay="0.2s">
      <div class="avatar">
        <img src="images/personnel/steve1.jfif" height="150" width="150">
      </div>
      <h2>Steve Howe</h2>
      <h4>Marketing Director</h4>
      <a href="https://www.linkedin.com/in/steve-howe-%E5%8F%B2%E8%92%82%E5%A4%AB-%E4%BD%95-mba-pgmp%C2%AE-pmp-46b8561/">Linkedin Profile</a>
    </div>

    <div class="personnel-card wow flipInY" data-wow-delay="0.3s">
      <div class="avatar">
        <img src="images/personnel/noora1.jfif" height="150" width="150">
      </div>
      <h2>Noora Mirzakhani</h2>
      <h4>Board member</h4>
      <a href="https://www.linkedin.com/in/noora-mirzakhani-52459511/">Linkedin Profile</a>
    </div>

    <div class="personnel-card wow flipInY" data-wow-delay="0.3s">
      <div class="avatar">
        <img src="images/personnel/peter2.jfif" height="150" width="150">
      </div>
      <h2>Peter Wandl</h2>
      <h4>Board member</h4>
      <a href="https://www.linkedin.com/in/peter-wandl-04674a13/">Linkedin Profile</a>
    </div>

    <div class="personnel-card wow flipInY" data-wow-delay="0.3s">
      <div class="avatar">
        <img src="images/personnel/sanjib1.jfif" height="150" width="150">
      </div>
      <h2>Sanjib Biswas</h2>
      <h4>Board member</h4>
      <a href="https://www.linkedin.com/in/sanjibbiswas/">Linkedin Profile</a>
    </div>

    <div class="personnel-card wow zoomInLeft" data-wow-delay="0.4s">
      <div class="avatar">
        <img src="images/personnel/amir1.jfif" height="150" width="150">
      </div>
      <h2>Amir Mahfoozi</h2>
      <h4>Technology Director</h4>
      <a href="https://www.linkedin.com/in/mahfoozi/">Linkedin Profile</a>
    </div>

  </div>
