<div class="col centeraligned">
  <h1>List of projects for client [{{id}}] :</h1>
</div>
<div class="row">
  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Client Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="operations">
      <mat-header-cell *matHeaderCellDef> Operations </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [routerLink]="['/admin/project/', element.id]">Edit</a> |
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<div class="row">
  <button (click)="addNewProject()">Add new project</button>

  <a [routerLink]="['/admin/clients']" style="margin-left:20px;">Back to clients list</a> |
</div>
